
<h2>User info</h2>
    <% if @user.errors.any? %>
      <%= @user.errors.count %>件のエラーが発生しました
     <ul>
      <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
     </ul>
    <% end %>
<%= form_with model: @user,url: user_path(@user.id), method: :patch do |f| %>
  <h2>name</h2>
  <%= f.text_field :name %>
  <h2>Image</h2>
  <%= f.file_field :profile_image, accept: "image/*" %>
  <h2>introduction</h2>
  <%= f.text_field :introduction %>

  <%= f.submit "Update User" %>
<% end %>
